.button {
  @apply relative inline-flex animate-pop cursor-pointer items-center justify-center gap-2 overflow-hidden whitespace-nowrap rounded text-base transition-all duration-300 active:scale-95;
  &:disabled {
    @apply animate-none cursor-not-allowed opacity-50 active:scale-100;
  }
  &.loading,
  &[data-loading="true"] {
    @apply relative animate-none cursor-wait opacity-50 active:scale-100;
    &::before {
      @apply absolute inset-0 z-10 bg-muted-foreground content-[''];
    }
    &::after {
      @apply absolute inset-0 z-30 mx-auto my-auto size-[1em] animate-spin rounded-full border-[.25em] border-dashed border-current bg-muted-foreground content-[''];
    }
  }
  &.loading.loading-center,
  &[data-loading="true"].loading-center {
    &::before {
      @apply absolute inset-0 z-10 bg-muted-foreground content-[''];
    }
    &::after {
      @apply absolute inset-0 z-30 mx-auto my-auto size-[1em] animate-spin rounded-full border-[.25em] border-dashed border-current bg-muted-foreground content-[''];
    }
  }
  &.loading.loading-left,
  &[data-loading="true"].loading-left {
    &::before {
      @apply static size-[1em] animate-spin rounded-full border-[.25em] border-dashed border-current content-[''];
    }
    &::after {
      @apply hidden;
    }
  }
  &.loading.loading-right,
  &[data-loading="true"].loading-right {
    &::before {
      @apply hidden;
    }
    &::after {
      @apply static size-[1em] animate-spin rounded-full border-[.25em] border-dashed border-current content-[''];
    }
  }
}
