.react-office-viewer {
  & > div {
    height: 100% !important;
    .style_title__FRdLc {
      display: none !important;
    }
    .style_document-container__j8LLS {
      height: 100% !important;
    }
  }
}
