.sun-editor {
  border: 0px !important;
  background-color: hsl(var(--background)) !important;
  color: hsl(var(--foreground)) !important;
  .se-container {
    @apply border-none border-0;
    .se-toolbar {
      @apply px-[5vw] md:px-[1.5rem] my-2 bg-background outline-none;
      .se-btn-tray {
        @apply rounded-full divide-x divide-foreground/25 bg-muted/75 px-4 relative;
        .se-btn-module-border {
          @apply m-0 px-1 border-y-0 rounded-none;
          .se-btn {
            @apply size-6 2xl:size-8 text-foreground text-sm;
            &:hover {
              @apply bg-accent/15;
            }
            &.active {
              @apply bg-accent/15 text-accent;
            }
            &.on {
              @apply bg-accent/15 text-accent;
            }
            &.se-btn-select {
              @apply w-16 2xl:w-20 flex items-center;
              svg {
                @apply size-2 2xl:size-3;
              }
            }
            svg {
              @apply text-base size-3 2xl:size-4;
            }
          }
        }
        .se-toolbar-more-layer {
          @apply absolute -bottom-1 left-0 right-0 translate-y-full bg-muted/50 px-4 border-none rounded-full;
          .se-toolbar-more-layer {
            @apply border-t-0;
            .se-more-layer {
              @apply border-none;
            }
          }
          .se-btn {
            @apply size-5 text-foreground text-sm;
            &:hover {
              @apply bg-accent/15;
            }
            &.active {
              @apply bg-accent/15 text-accent;
            }
            &.se-btn-select {
              @apply w-16 flex items-center;
              svg {
                @apply size-2;
              }
            }
            svg {
              @apply text-base size-3;
            }
          }
        }
      }
    }
    .se-wrapper {
      @apply my-4 mx-auto;
      .se-wrapper-inner.se-wrapper-wysiwyg,
      .se-wrapper-inner.se-wrapper-code {
        @apply min-h-[11in] max-w-[8.5in] p-[1in] mx-auto;
      }
    }
    .se-resizing-bar {
      @apply max-w-[50em] mx-auto;
    }
  }
}

@page {
  margin: 1in;
}

@media print {
  .ql-editor {
    align-self: flex-start;
    margin: 0;
    box-shadow: none;
    padding: 0;
    width: 6.5in;
    height: 9in;
  }

  .ql-toolbar.ql-snow {
    display: none;
  }
}
