.switch {
  display: inline-block;
  flex-shrink: 0;
  appearance: none;
  animation: theme("animation.pop");
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  box-shadow:
    -1em 0 0 0.125em theme("colors.accent.foreground") inset,
    0 0 0 0.125em theme("colors.accent.foreground") inset;
  border: 1px solid theme("colors.border");
  border-radius: theme("borderRadius.form-control");
  background-color: theme("colors.accent.DEFAULT/0.75");
  width: 2em;
  height: 1em;
  font-size: var(--switch-height, 1.25rem);
  line-height: 1;

  &.on,
  &.checked,
  &:checked {
    box-shadow:
      1em 0 0 0.125em theme("colors.accent.foreground") inset,
      0 0 0 0.125em theme("colors.accent.foreground") inset;
    border-color: theme("colors.accent.DEFAULT");
    background-color: theme("colors.accent.DEFAULT");
  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
    animation: none;
    cursor: not-allowed;
    pointer-events: none;
  }
}

/* switch sizes */
.switch-size-default {
  font-size: var(--switch-height, 1.25rem);
  line-height: 1;
}

.switch-size-sm {
  font-size: var(--switch-height-sm);
  line-height: 1;
}

.switch-size-md {
  font-size: var(--switch-height-md);
  line-height: 1;
}

.switch-size-lg {
  font-size: var(--switch-height-lg);
  line-height: 1;
}
