* {
  @apply border-border;
}

html {
  @apply scroll-p-16 scroll-smooth;
}
body {
  @apply scroll-smooth bg-background text-sm text-foreground;
}

h2,
h3,
h4,
h5,
h6,
strong,
th {
  @apply font-semibold text-title;
}
h1 {
  @apply text-3xl font-bold text-title;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}

ul {
  @apply list-inside;
}

input,
textarea {
  @apply cursor-pointer accent-accent disabled:animate-none disabled:cursor-not-allowed disabled:opacity-50 disabled:checked:animate-none;
}
