:root {
  --background: 210 40% 96%;
  --foreground: 215 25% 27%;

  --card: 0 0% 100%;
  --card-foreground: 215 25% 27%;

  --popover: 20 14.3% 4.1%;
  --popover-foreground: 0 0% 100%;

  --primary: 41 100% 43%;
  --primary-foreground: 0 0% 100%;

  --secondary: 46 100% 55%;
  --secondary-foreground: 0 0% 100%;

  --muted: 213 27% 84%;
  --muted-foreground: 215 16% 47%;

  --accent: 41 100% 43%;
  --accent-foreground: 210 40% 96%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;

  --border: 213 27% 84%;
  --input: 213 27% 84%;
  --ring: 213 27% 84%;
  --title: 222 47% 11%;
  --dark: 222 47% 11%;
  --light: 210 40% 96%;

  --radius: 0.5rem;
  --switch-value: 1rem;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 213 27% 84%;

  --card: 215 25% 27%;
  --card-foreground: 213 27% 84%;

  --popover: 20 14.3% 4.1%;
  --popover-foreground: 0 0% 100%;

  --primary: 41 100% 43%;
  --primary-foreground: 0 0% 100%;

  --secondary: 46 100% 55%;
  --secondary-foreground: 0 0% 100%;

  --muted: 215 25% 27%;
  --muted-foreground: 215 16% 47%;

  --accent: 41 100% 43%;
  --accent-foreground: 222 47% 11%;

  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: 0 0% 100%;

  --border: 215 25% 27%;
  --input: 215 25% 27%;
  --ring: 215 25% 27%;
  --title: 210 40% 96%;
}

.switch-sm {
  --switch-value: 0.75rem;
}

.switch-base {
  --switch-value: 1rem;
}

.switch-md {
  --switch-value: 1.5rem;
}

.switch-lg {
  --switch-value: 2rem;
}
