:root {
  --background: 0, 0%, 99%;
  --foreground: 0 0% 15%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 15%;

  --popover: 20 14.3% 4.1%;
  --popover-foreground: 0, 0%, 100%;

  --accent: 147 37% 52%;
  --accent-foreground: 0, 0%, 100%;

  --primary: 147 37% 52%;
  --primary-foreground: 0, 0%, 100%;

  --secondary: 19 100% 64%;
  --secondary-foreground: 0, 0%, 100%;

  --ternary: 237 100% 75%;
  --ternary-foreground: 0, 0%, 100%;

  --muted: 0 0% 90%;
  --muted-foreground: 0 0% 45%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0, 0%, 100%;

  --light: 0 0% 100%;
  --light-foreground: 0 0% 15%;

  --dark: 0 0% 4%;
  --dark-foreground: 0 0% 90%;

  --border: 0 0% 90%;
  --input: 0 0% 90%;
  --ring: 0 0% 90%;
  --title: 0 0% 4%;

  --radius: 0.5rem;
  --header-height: 4rem;
  --container-space: 5vw;
}

.light {
  --background: 0, 0%, 99%;
  --foreground: 0 0% 15%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 15%;

  --popover: 20 14.3% 4.1%;
  --popover-foreground: 0, 0%, 100%;

  --accent: 147 37% 52%;
  --accent-foreground: 0, 0%, 100%;

  --primary: 147 37% 52%;
  --primary-foreground: 0, 0%, 100%;

  --secondary: 19 100% 64%;
  --secondary-foreground: 0, 0%, 100%;

  --ternary: 237 100% 75%;
  --ternary-foreground: 0, 0%, 100%;

  --muted: 0 0% 90%;
  --muted-foreground: 0 0% 45%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0, 0%, 100%;

  --light: 0 0% 100%;
  --light-foreground: 0 0% 15%;

  --dark: 0 0% 4%;
  --dark-foreground: 0 0% 90%;

  --border: 0 0% 90%;
  --input: 0 0% 90%;
  --ring: 0 0% 90%;
  --title: 0 0% 4%;
}

.dark {
  --background: 0 0% 4%;
  --foreground: 0 0% 90%;

  --card: 0, 0%, 8%;
  --card-foreground: 0 0% 90%;

  --popover: 20 14.3% 4.1%;
  --popover-foreground: 0, 0%, 100%;

  --accent: 147 37% 52%;
  --accent-foreground: 0 0% 4%;

  --primary: 147 37% 52%;
  --primary-foreground: 0, 0%, 100%;

  --secondary: 19 100% 64%;
  --secondary-foreground: 0, 0%, 100%;

  --ternary: 237 100% 75%;
  --ternary-foreground: 0, 0%, 100%;

  --muted: 0 0% 15%;
  --muted-foreground: 0 0% 45%;

  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: 0, 0%, 100%;

  --border: 0 0% 15%;
  --input: 0 0% 15%;
  --ring: 0 0% 15%;
  --title: 0, 0%, 100%;
}

@media (min-width: 768px) {
  :root {
    --container-space: 3.5vw;
  }
}

@media (min-width: 1024px) {
  :root {
    --container-space: 2.5vw;
  }
}

@media (min-width: 1280px) {
  :root {
    --container-space: 1vw;
  }
}

@media (min-width: 1536px) {
  :root {
    --container-space: 2.5rem;
  }
}
